{% extends 'base/master.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div>
    <div class="row">
        <h1>Bienvenido {{ user }}</h1>
        <p>Aquí puedes ver tus productos</p><br><br>
        <div class="container bg-light">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary"><a href="/crear/">Agregar producto</a></button>
            </div>
        </div>
    </div>

    <div class="row">
        {% for product in products %}
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text" style="color: #0F9D58"><strong>Precio: </strong>${{ product.price }}</p>
                    <p class="card-text"><strong>Contacto: </strong>{{ product.contact }}</p>
                    <p class="card-text"><strong>Horario: </strong>{{ product.schedule }}</p>
                </div>
                <div class="card-body">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-warning"><a href="{% url 'edit_product' product.id %}"
                                class="card-link">Editar producto</a></button>
                        <button type="button" class="btn btn-danger"><a href="{% url 'delete_product' product.id %}"
                                class="card-link">Eliminar producto</a></button>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

<div class="container bg-light">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-danger"><a href="/accounts/logout/">Cerrar
                sesión</a></button>
    </div>
</div>




{% endif %}

{% endblock content %}