{% extends 'base/master.html' %}

{% block title %}Registro{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div style="width: 450px;  margin: 0 auto; padding: 10px;">
<h2>Registro</h2>
<form method="post" >
  {% csrf_token %}
  {{ form|crispy}}
  <br><br>
  <div class="container bg-light">
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </div>
  </div>
  <br><br>
  <div class="text-center">
    <p>¿Ya tienes una cuenta? <a href="/login/">Inicia sesión</a></p>
  </div>
</form>
</div>
{% endblock %}